# Godot 4+ specific ignores
.godot/
/android/

# Some addons create temporary copies
~*.dll

# some clangd data
.cache/

# scons
.sconsign.dblite
gdextension/**/bin
compile_commands.json
unfiltered.compile_commands.json
*.os
*.gen.*
gen/

# vscode
.vscode/

# python
__pycache__/
