[submodule "gdextension/godot-cpp"]
	path = gdextension/cpp/godot-cpp
	url = https://github.com/qqwobble/godot-cpp.git
	branch = 4.5
[submodule "gdextension/cpp/thirdparty/doctest"]
	path = gdextension/cpp/thirdparty/doctest
	url = https://github.com/doctest/doctest.git
